{% extends "forms/form_base.html" %}

{% block form %}

<h2>Admission/Continuation Into the Graduate Program</h2>

<form class="continuation">
    <div class="form-group">
        <label for="endorsementArea">Teaching Endorsements Sought</label>
        <table class="table" id="endorsementArea">
            <thead>
                <tr>
                    <th>Area</th>
                    <th>Subject</th>
                    <th>Subcategory</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {# This will be filled by Javascript #}
            </tbody>
        </table>
        <button type="button" class="btn btn-block addRow"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    </div>

    <fieldset class="form-group">
        <label for="testsRemaining">Test Requirements</label>
        <p>To continue in education and be formally admitted into the Graduate Degree Program, students must do the following:</p>
        <ol>
            <li>meet the criteria listed for program continuation,</li>
            <li>successfully complete required undergraduate course work with an overall GPA of 2.5 or better and a GPA of 3.0 or better in required education courses,</li>
            <li>receive a bachelor's degree from UMW,</li>
            <li>achieve passing scores on <b>Praxis II</b>, the <b>Virginia Communication and Literacy Assessment (VCLA)</b>, and for those students in the Elementary program and Special Education: General Curriculum program, the <b>Reading for Virginia Educators (RVE)</b> assessment. <i>(Please note, the College of Education <u>must have</u> copies of all required test scores.)</i></li>
        </ol>

        <p>If you need to take an exam, you will be asked to provide the exam name and the scheduled test date.</p>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="tests" id="tests" value="false">
                No, I have completed all exams.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="tests" id="tests" value="true">
                Yes, I have exams to complete.
            </label>
        </div>

        <div id="testsToggle">
            <table class="table" id="testsRemaining">
                <thead>
                    <tr>
                        <th>Exam</th>
                        <th>Scheduled Test Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        <select class="form-control" id="examName">
                            <option value="praxis">Praxis II</option>
                            <option vlaue="rve">Reading for Virginia Educators (RVE)</option>
                            <option value="vcla">Virginia Communication and Literacy Assessment (VCLA)</option>
                        </select>
                    </td>
                    <td>
                        <input class="form-control" type="date" id="examDate" name="Exam Date">
                    </td>
                    <td><button type="button" class="btn delRow"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                </tbody>
            </table>
            <button type="button" class="btn btn-block addRow"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </div>
    </fieldset>

    <div class="form-group">
        <label for="graduation">Month/Year of Undergraduate Graduation</label>
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-6">
                <select class="form-control" id="graduation-Month">
                    <option value="May">May</option>
                    <option value="Aug">August</option>
                    <option value="Dec">December</option>
                </select>
            </div>

            <div class="col-md-2 col-sm-3 col-xs-6">
                <select class="form-control" id="graduation-Year">
                    {% for year in years %}
                        <option value="{{ year }}">{{ year}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="continue">Plan to Continue</label>
        <p>I intend to continue into the graduate year and my Masters degree of study.</p>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="continue" id="continue" value="true">
                Yes
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="continue" id="continue" value="false">
                No
            </label>
        </div>
    </div>

    <!-- TODO make this accept "Other" input from a text box -->
    <div class="form-group" id="continueToggle">
        <p>Please give your reason for not continuing:</p>
        {% for reason in reasons %}
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="reason" id="reason" value="{{ loop.index0 }}">
                {{ reason }}
            </label>
        </div>
        {% endfor %}
    </div>

    <!-- TODO figure out how to differentiate SAVE from SUBMIT, just focusing on submit for now. -->
    <!--<input type="submit" class="btn btn-secondary" value="Save">-->
    <input type="submit" class="btn btn-primary" value="Submit">

</form>

{% endblock %}