{% extends "forms/form_base.html" %}

{% block form %}

<form>
    <div class="form-group">
        <label for="endorsementArea">Teaching Endorsement Sought</label>
        {% set endorsements = data["endorsements"] %}
        <select class="form-control" id="endorsementArea1">
            {% for cat1 in endorsements %}
                <option>
                {% if cat1 is mapping %}
                {% for key in cat1 %}
                    {{ key }}
                {% endfor %}
                {% else %}
                    {{ cat1 }}
                {% endif %}
                </option>
            {% endfor %}
        </select>
        <select class="form-control" id="endorsementArea2">
            {% for cat1 in endorsements %}
                <option>
                {% if cat1 is mapping %}
                {% for key in cat1 %}
                    {{ key }}
                {% endfor %}
                {% else %}
                    {{ cat1 }}
                {% endif %}
                </option>
            {% endfor %}
        </select>
        <select class="form-control" id="endorsementArea3">
            {% for cat1 in endorsements %}
                <option>
                {% if cat1 is mapping %}
                {% for key in cat1 %}
                    {{ key }}
                {% endfor %}
                {% else %}
                    {{ cat1 }}
                {% endif %}
                </option>
            {% endfor %}
        </select>
    </div>

    <fieldset class="form-group">
        <label for="testsRemaining">Test Requirements</label>
        <p>To continue in education and be formally admitted into the Graduate Degree Program, students must do the following:</p>
        <ol>
            <li>meet the criteria listed for program continuation,</li>
            <li>successfully complete required undergraduate course work with an overall GPA of 2.5 or better and a GPA of 3.0 or better in required education courses,</li>
            <li>receive a bachelor's degree from UMW,</li>
            <li>achieve passing scores on <b>Praxis II</b>, the <b>Virginia Communication and Literacy Asessment (VCLA)</b>, and for those students in the Elementary program and Special Education: General Curriculum program, the <b>Reading for Virginia Educators (RVE)</b> assessment. <i>(Please note, the College of Education <u>must have</u> copies of all required test scores.)</i></li>
        </ol>

        <p>If you need to take an exam, please provide the exam name and the scheduled test date.</p>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="testsRemaining" id="no" value="True">
                No, I have completed all exams.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="testsRemaining" id="yes" value="True">
                Yes, I have exams to complete.
            </label>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <label for="examName">Exam</label>
                <select class="form-control" id="examName">
                    <option>Sample Option</option>
                </select>
            </div>

            <div class="col-sm-6">
                <label for="examDate">Scheduled Test Date</label>
                <input class="form-control" type="date" id="examDate" name="Exam Date">
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <label for="graduation">Month/Year of Undergraduate Graduation</label>
        <select class="form-control" id="endorsementArea">
            <option>Sample Option</option>
        </select>
    </div>

    <div class="form-group">
        <label for="continue">Plan to Continue</label>
        <p>I intend to continue into the graduate year and my Masters degree of study.</p>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="continue" id="yes" value="True">
                Yes
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="continue" id="no" value="False">
                No
            </label>
        </div>
    </div>

    <div class="form-group">
        <p>Please give your reason for not continuing:</p>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="reason" id="financial" value="financial">
                Financial
            </label><!--
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="reason" id="other" value="financial">
                <input type="text" class="form-control col-xs-2" name="reason" id="otherText">
            </label>-->
        </div>
    </div>

    <button type="submit" class="btn btn-secondary">Save</button>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>

{% endblock %}