{% extends "base.html" %}

{% block content %}

<!-- Header -->
<header>
    <div class="container" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="{{ url_for('static', filename='img/UMW-monogram-small.png') }}" alt="UMW Monogram">
                <div class="intro-text">
                    <h1 class="name">Application Station</h1>
                    <span class="skills">University of Mary Washington College of Education</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <center>
                    <a href="/login" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Login
                    </a>
                    <a href="/register" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Register
                    </a>
                    <hr width="30%">
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <center>
                    <a href="/reset" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Reset Password
                    </a>
                    <hr width="20%">
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <center>
                    <a href="http://education.umw.edu/" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> CoE
                    </a>
                    <hr width="10%">
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <center>
                        <p>If you are a UMW student looking to complete a form for the College of Education, you've 
                        come to the right place. You'll need to register for an account using your UMW email.</p>
                    </center>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

{% endblock %}