{% extends "base.html" %}

{% block content %}

<!-- Header -->
<header>
    <div class="container" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="{{ url_for('static', filename='img/UMW-monogram-small.png') }}" alt="UMW Monogram">
                <div class="intro-text">
                    <h1 class="name">Application Station</h1>
                    <span class="skills">University of Mary Washington College of Education</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section class="success" id="About">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Application Station</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>If you are a UMW student looking to complete a form for the College of Education, you've 
                come to the right place. You'll need to register for an account using your UMW email.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Clink on the link to check out the College of Education's website</p>
                <a href="http://education.umw.edu/" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> CoE Website
                </a>
            </div>
        </div>
    </div>
</section>



<!-- Redirect to Log In -->
<section class="success" id="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Login</h2>
                <h3><a href="/login" style="color:white"> Log in here.</a></h3>
            </div>
        </div>
    </div>
</section>


<!-- Redirect to Create Account -->
<section class="success" id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Register an Account</h2>
                <h3>Must have a valid UMW email account.</h3>
                <h4><a href="/register" style="color:white"> Register here.</a></h4>
            </div>
        </div>
    </div>
</section>

<!-- Forgot password -->
<section class="success" id="password">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="/reset" class="btn btn-md btn-primary">Reset Password</a>
            </div>
        </div>
    </div>
</section>


<!-- Dash Section -->
<section class="success" id="Dashboard">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>User Dashboard</h2>
                <h3><a href="/dashboard" style="color:white"> View dashboard here.</a></h3>
            </div>
        </div>
    </div>
</section>




<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

{% endblock %}