{% extends "userdashbase.html" %}

{% block content %}

<style>
    h2   {
        color: DarkBlue;
        text-decoration: none;
    }
    
    p   {
        color: blue;
        text-decoration: none;
    }
    
    h5   {
        color: black;
        text-decoration: none;
    }
    
</style>

<div id="wrapper">

    <div id="page-wrapper">
        <br><br><br><br>
        <div class="row">
            <div class="col-lg-12">
                <center><h1 class="page-header">Dashboard</h1></center><br>
                
                <div class="col-md-3">
                </div>
                
                <div class="col-md-2">
                    <div class="well well-lg">
                        <center>
                            <h2>POST-BAC INTERNSHIP APPLICATION</h2>
                            <p>for initial licensure internship</p><hr>
                            
                            <h5>DUE BY</h5>
                            <p>{{postbacdeadline}}</p>
                            <hr>
                            {% if today > postbacdeadline %}
                                <a href="/forms/internship">
                                    <button type="button" id="userbacbutton" class="btn btn-primary btn-lg disabled">Post-bac</button>
                                <a/>
                            {% else %}
                                <a href="/forms/internship">
                                    <button type="button" id="userbacbutton_enable" class="btn btn-primary btn-lg">Post-bac</button>
                                <a/>
                            {% endif %}
                        
                        </center>
                    </div>
                    
                    <br><br><br>
                </div>
                
                <div class="col-md-2">
                    <div class="well well-lg">
                        <center>
                            <h2>Application to the Fifth Year</h2>
                            <p>for continuation into the graduate program</p><hr>
                            
                            <h5>DUE BY</h5>
                            <p>{{fifthyeardeadline}}</p>
                            <hr>
                            
                            {% if today > fifthyeardeadline %}
                                <a href="/forms/continuation">
                                    <button type="button" id="userfifthbutton" class="btn btn-primary btn-lg disabled">Continuation</button>
                                </a>
                            {% else %}
                                <a href="/forms/continuation">
                                    <button type="button" id="userfifthbutton_enable" class="btn btn-primary btn-lg">Continuation</button>
                                </a>
                            {% endif %}
                            
                        </center>
                    </div>
                    
                    <br><br><br>
                    
                </div>
                
                <div class="col-md-2">
                    <div class="well well-lg">
                        <center>
                            <h2>UNDERGRAD ADMISSION APPLICATION</h2>
                            <p>for the 5-Year Pathway Initial Licensure Program</p><hr>
                            
                            <h5>DUE BY</h5>
                            <p>{{undergraddeadline}}</p>
                            <hr>
                            {% if today > undergraddeadline %}
                                <a href="/forms/admission">
                                    <button type="button" id="userundergradbutton" class="btn btn-primary btn-lg disabled">Undergrad</button>
                                </a>
                            {% else %}
                                <a href="/forms/admission">
                                    <button type="button" id="userundergradbutton_enable" class="btn btn-primary btn-lg">Undergrad</button>
                                </a>
                            {% endif %}
                        </center>
                    </div>
                    
                    <br><br><br>
                </div>
                
                <div class="col-md-3">
                </div>
                
            </div>
            <div class="col-lg-12">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <center><h3>IMPORTANT: Turn in <u>one</u> copy of the following form to the CoE suite in Trinkle.</h3></center><br>
                    <center><h4>Even if you submitted more than one of the above forms, you only need to turn in one.</h4></center>
                    <br>
                </div>                
                <div class="col-md-3">
                    <center>
                        <br>
                        <hr>
                        <a href="{{ url_for('static', filename='CoEHandout.pdf') }}" download="CoEApplication.pdf">
                            <button type="button" id="download" class="btn btn-primary btn-lg">Click here to download</button>
                        </a>
                        <hr>
                    </center>
                    
                </div>
                <div class="col-md-3">
                </div>
            </div>
            
            
        </div>
        
        <div id="today" style="display:none" class="panel panel-success">{{today}}</div>
        
    </div>

</div>

{% endblock %}