{% macro render_edit_modal_before_body(name,title) %}
<div class="modal fade" id="edit-{{ name }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content sexy-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" style="color:#fff;">&times;</span><span class="sr-only">Close</span></button>
                     <h4 class="modal-title">{{ title }}</h4>
                </div>
                <div class="modal-body">
                    <form method=post enctype=multipart/form-data action="/edit">
                    <dl>
{% endmacro %}
{% macro render_edit_modal_after_footer() %}
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type=submit value=Submit class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_pdf_modal(name,title) %}
<div class="modal fade h100 w100" id="{{ name }}" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center h75 w50">
            <div class="modal-content sexy-modal w75">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" style="color:#fff;">&times;</span><span class="sr-only">Close</span></button>
                     <h4 class="modal-title">{{ title }}</h4>
                </div>
                <div class="modal-body h75">
                    <embed class="h100 w100" src="{{ session['user']['resume_link'] }}#view=fitH"></embed>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}


