{% extends "index.html" %}

{% block intro %}
<div class="row">
    <div class="col-md-12 h-pad-20 wow fadeIn">
        <div align="center">
            <div class="row">
                <h1>I am a</h1>
                <a href="/new-student" class="btn btn-primary btn-lg active page-scroll" role="button" aria-pressed="true">Student</a>
                <a href="/new-employer" class="btn btn-success btn-lg active page-scroll" role="button" aria-pressed="true">Employer</a>
            </div>
            <div class="row t-pad-sm">
                <p>
                    <a href="/" style="color:#fff;">Go Back</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
