@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('/static/fonts/Lato-regular/Lato-regular.eot');
  src: url('/static/fonts/Lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'),
       local('Lato Regular'),
       local('Lato-regular'),
       url('/static/fonts/Lato-regular/Lato-regular.woff2') format('woff2'),
       url('/static/fonts/Lato-regular/Lato-regular.woff') format('woff'),
       url('/static/fonts/Lato-regular/Lato-regular.ttf') format('truetype'),
       url('/static/fonts/Lato-regular/Lato-regular.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/Lato-700/Lato-700.eot');
  src: url('/static/fonts/Lato-700/Lato-700.eot?#iefix') format('embedded-opentype'),
       local('Lato Bold'),
       local('Lato-700'),
       url('/static/fonts/Lato-700/Lato-700.woff2') format('woff2'),
       url('/static/fonts/Lato-700/Lato-700.woff') format('woff'),
       url('/static/fonts/Lato-700/Lato-700.ttf') format('truetype'),
       url('/static/fonts/Lato-700/Lato-700.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: url('/static/fonts/Lato-italic/Lato-italic.eot');
  src: url('/static/fonts/Lato-italic/Lato-italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Italic'),
       local('Lato-italic'),
       url('/static/fonts/Lato-italic/Lato-italic.woff2') format('woff2'),
       url('/static/fonts/Lato-italic/Lato-italic.woff') format('woff'),
       url('/static/fonts/Lato-italic/Lato-italic.ttf') format('truetype'),
       url('/static/fonts/Lato-italic/Lato-italic.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: url('/static/fonts/Lato-700italic/Lato-700italic.eot');
  src: url('/static/fonts/Lato-700italic/Lato-700italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Bold Italic'),
       local('Lato-700italic'),
       url('/static/fonts/Lato-700italic/Lato-700italic.woff2') format('woff2'),
       url('/static/fonts/Lato-700italic/Lato-700italic.woff') format('woff'),
       url('/static/fonts/Lato-700italic/Lato-700italic.ttf') format('truetype'),
       url('/static/fonts/Lato-700italic/Lato-700italic.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('/static/fonts/Montserrat-regular/Montserrat-regular.eot');
  src: url('/static/fonts/Montserrat-regular/Montserrat-regular.eot?#iefix') format('embedded-opentype'),
       local('Montserrat Regular'),
       local('Montserrat-regular'),
       url('/static/fonts/Montserrat-regular/Montserrat-regular.woff2') format('woff2'),
       url('/static/fonts/Montserrat-regular/Montserrat-regular.woff') format('woff'),
       url('/static/fonts/Montserrat-regular/Montserrat-regular.ttf') format('truetype'),
       url('/static/fonts/Montserrat-regular/Montserrat-regular.svg#Montserrat') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/Montserrat-700/Montserrat-700.eot');
  src: url('/static/fonts/Montserrat-700/Montserrat-700.eot?#iefix') format('embedded-opentype'),
       local('Montserrat Bold'),
       local('Montserrat-700'),
       url('/static/fonts/Montserrat-700/Montserrat-700.woff2') format('woff2'),
       url('/static/fonts/Montserrat-700/Montserrat-700.woff') format('woff'),
       url('/static/fonts/Montserrat-700/Montserrat-700.ttf') format('truetype'),
       url('/static/fonts/Montserrat-700/Montserrat-700.svg#Montserrat') format('svg');
}

