{% extends "userdashbase.html" %}

{% block content %}

<div id="wrapper">
    <br><br><br><br>
        <center>
            <h1 class="page-header"> Admin Home</h1><br>
            
            
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="col-md-3">
                    </div>
                    
                    <div class="col-md-2">
                        <div class="well well-lg">
                            
                        </div>
                        
                        <br><br>
                    </div>
                    
                    <div class="col-md-2">
                        <div class="well well-lg">
                            
                        </div>
                        
                        <br><br>
                        
                    </div>
                    
                    <div class="col-md-2">
                        <div class="well well-lg">
                            
                        </div>
                        
                        <br><br>
                    </div>
                    
                    <div class="col-md-3">
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="col-md-3">
                    </div>
                    
                    <div class="col-md-2">
                        <div class="well well-lg">
                            
                        </div>
                        
                        <br><br><br>
                    </div>
                    
                    <div class="col-md-2">
                        
                    </div>
                    
                    <div class="col-md-2">
                    </div>
                    
                    <div class="col-md-3">
                    </div>
                    
                </div>
            
            </div>
            
        </center>
        
        
</div>
        
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
     

{% endblock %}