{% extends "userdashbase.html" %}

{% block content %}

<style>
table.dataTable.select tbody tr,
table.dataTable thead th:first-child {
  cursor: pointer;
}
</style>

<div id="wrapper">
    <br><br><br><br>
        <center>
            <h1 class="page-header"> Export/View Applications</h1><br>
        </center>
           
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!--<form id="deleteUser" action="" method="POST">-->
                                <table id="userTable" class="display select" cellspacing="0" width="100%">
                                   <thead>
                                      <tr>
                                         <th><input name="select_all" value="1" type="checkbox"></th>
                                         <th>ID</th>
                                         <th>Email</th>
                                      </tr>
                                   </thead>
                                   <tfoot>
                                      <tr>
                                         <th></th>
                                         <th>ID</th>
                                         <th>Email</th>
                                      </tr>
                                   </tfoot>
                                </table>
                                <!-- /.table-responsive -->
                                <a class="btn btn-large btn-danger" id="deleteUser">Delete</a>
                            <!--</form>-->
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
    
        
</div>
        
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
     

{% endblock %}