<!-- jQuery -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.js') }}"></script>

<!-- Plugin JavaScript -->
<!-- TODO this should also not be cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="{{ url_for('static', filename='js/freelancer.min.js') }}"></script>

<!-- Custom Javascript -->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>